@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


.streamdown-content h2 {
  margin: 0.25em 0;
  margin-top: 2rem;
  font-size: 1.25em;
}
.streamdown-content h4 {
  margin: 0.1em 0;
  font-weight: normal;
}
.streamdown-content p {
  margin: 0.15em 0;
  margin-top: 1.2rem;

  line-height: 1.3;
}

@theme {
  --animate-placeholder-flash: placeholder-flash 2s ease-in-out infinite;

  @keyframes placeholder-flash {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* styles/globals.css */
.scroll-container::-webkit-scrollbar {
  width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #52525b; /* Tailwind zinc-600 */
  border-radius: 9999px;
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #27272a; /* Tailwind zinc-800 */
}




